# Dependency directories
node_modules/

# dotenv environment variables files
.env*

# Temporary files
temp/
screenShots/
ibmtemp/

# System files
.DS_Store

# Development configurations
.vscode/
.npmrc
