# Dependency directories
node_modules/

# dotenv environment variables files
.env*

# Temporary files
temp/
screenShots/

# System files
.DS_Store

# Development configurations
.vscode/

# Temporary files
temp/
