@keyframes shrink {
  from {
    margin-right: 0%;
    font-size: 1rem;
  }
  to {
    margin-right: 50%;
    font-size: 5rem;
  }
}
.moving {
  animation-duration: 7s;
  animation-iteration-count: 2;
  animation-name: shrink;
  background-color: #ccc;
}
