button {
  min-width: 30%;
  border-width: 3px;
  background-color: #eee;
  font-size: x-large;
}
button.active {
  border-bottom: none;
}
button.active, .tabPanels {
  background-color: #dfd;
}
:focus {
  outline: 2px #00f solid;
  outline-offset: 2px;
}
[role=tablist] {
  margin-bottom: 0;
  min-height: 5rem;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}
.tabPanels {
  margin-top:0;
  padding: 1rem;
  border-width: 0 3px 3px 3px;
}
.tabPanels p {
  margin-top: 0;
}
.tabs {
  max-width: 40rem;
}
